* { box-sizing: border-box; }

body {
  font-family: 'Press Start 2P', cursive;
  max-width: 800px;
  width: 100%;
  margin: 1em auto;
  font-size: 1.5em;
  background-color: #222323;
  color: #eee;
}

.P { color: red; }

canvas { max-width: 100%; }

.screen {
  display: none;
}

#title {
  
}

#logo {
  width: 100px;
}

/*** CSS animations ***/

.fade-in {
  animation: fade-in 0.8s;
  display: block;
}

@keyframes fade-in{
  from{opacity:0} to{opacity:1}
}